{% extends 'administracion/base.html' %}
{% block content %}

  <section id="contact">
      <div class="container">
          <div class="row">

              <div class="col-md-12 col-sm-12">
                  <h3>¿Cómo funciona?</h3>
                  <hr>
                  <p style="font-size:14px">
                    Esta web ha sido creada para facilitar el trabajo diario de administradores y encargados de servicios adicionales. <br />
                    Una vez creada tu cuenta, en "Mi perfil" podrás asignarte la categoría de usuario que te corresponda: <br/><br/>
                    <b>Administrador: </b>Responsable de la Oficina de Administración de un Destino.<br/>
                    <b>Encargado: </b>Responsable de uno o varios servicios adicionales.<br/><br/>
                  </p>
                  <h4>Como encargado:</h4>
                  <p style="font-size:14px">
                    Podrás dar de alta los servicios de adicionales que tengas a cargo. Ingresar los turnos de los efectivos de una forma
                    rápida y sencilla, y generar las rendiciones a través de la plataforma de esta web. Es decir, desde cualquier computadora,
                    e ingresando con tu usuario y contraseña, podrás descargar el Excel de la rendición de tu servicio.<br/><br/>
                  </p>
                  <h4>Como administrador:</h4>
                  <p style="font-size:14px">
                    Además de gestionar tus servicios de adicionales, podrás ver los turnos de los servicios que estén habilitados en tu
                    jurisdicción (aquellos servicios que los encargados hayan dado de alta y que rindan por tu destino). A su vez se te habilitará
                    un módulo especial para ingresar horas CoReS. Tendrás un control del cupo y podrás descargar cada mes la rendición de CoReS
                    de manera gratuita.<br/><br/>
                  </p>
                  <h3>Ventajas:</h3>
                  <hr>
                  <p style="font-size:14px">
                    - <b>Simple y cómodo.</b> La web está diseñada en base a formularios y calendarios.<br/>
                    - <b>Sin errores.</b> Nosotros podemos equivarnos, las computadoras no. No tendrás ningún error de legajos, documentos, o cantidad de horas.<br/>
                    - <b>Sin demoras.</b> Descargás tu rendición adicional una vez que hayas ingresado el último turno del mes a rendir.<br/>
                    - <b>Mayor control.</b> Un efectivo puede cumplir horas CoReS o cubrir servicios adicionales en cualquier destino. El sistema de esta web te asegura
                    que no haya horarios superpuestos. Cada uno de los turnos será controlado y, en caso de superposición, te avisará de inmediato.<br/><br/>
                  </p>
              </div>

          </div>
      </div>
  </section>

{% endblock content %}
